<!doctype html>
<html class="no-js" lang="en">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWRN5CB');</script>
<!-- End Google Tag Manager -->
<title>Work4Love.net - Technology</title>
<meta name="description" content="Work4Love.net - Technology: Sites úteis de Tecnologia.">
<meta name="keywords" content="mainframe,linux,windows,blockchain,data,science,devops,it,hardware,software" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="../js/sig.js"></script>
<link rel="stylesheet" href="../css/sig.css" />
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-md-12 columns text-center" style="padding-left:10%;padding-right:10%">
            <div class="metanav">
                {% if not session.logado %}
                  <a href="">login</a>
                {% else %}
                  <a href="">logout</a>
                {% endif %}
                </div>
            <div class="pagina">

  {% block corpo %}{% endblock %}
</div>
</div>
</div>
</div>
</body>
</html>